@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  margin-left: 5px;
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #004c93;
}

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-VariableFont_opsz,wght) format("ttf");
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --toastify-color-success: #004c93;
  --toastify-font-family: "Inter", sans-serif;
}
