@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  margin-left: 5px;
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #004c93;
}

[role="menu"]::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 12px;
}

[role="menu"]::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0;
}

[role="menu"]::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: #cacaca;
}

::file-selector-button {
  display: none;
}

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-VariableFont_opsz,wght) format("ttf");
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .disable {
    pointer-events: none;
    cursor: not-allowed;
    @apply bg-gray-100 text-gray-500 border-gray-300 placeholder-gray-300;
  }

  .button {
    @apply bg-primary text-white hover:brightness-90 py-2 px-4 rounded disabled:bg-gray-300 disabled:cursor-not-allowed disabled:text-gray-500 disabled:border-gray-300 hover:disabled:brightness-100;
  }
}

:root {
  --toastify-color-success: #004c93;
  --toastify-font-family: "Inter", sans-serif;
}
